$row-height-twitter: 10%;
$row-height-quote: 65%;
$row-height-gen-btn: 25%;

$quotebox-width-s: 90%;
$quotebox-width-m: 40%;
$quotebox-height: 50%;

$quotebox-bg-color: white;
$body-bg-color: lightblue;